@media screen and (max-width: 980px) {
    body {
        background-color: #4aaaa5;
    }
    
    header{
        position: static;
        padding: 0% 15% 0% 15%;
        top: 0px;
        background-color: #ffffff;
        border-color: #cccccc;
       clear:both;
       height: 40;
       width: 600px;
    }
    h1 {
        float: left;
      padding: 1px 0px 1px 1px;
      font-size:175%;
      color: #ffffff;
      background-color: #4aaaa5;
      width: 35%;
      font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
      }

    nav{
        float: right;
        margin-bottom: 1%;
        -webkit-box-shadow: 2px 2px 7.5px 2px #000000; 
        box-shadow: 2px 2px 7.5px 2px #000000;
        background-color: #4aaaa5;
        border-color: #dddddd;
        
    }
  
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #ffffff;
      }
      li {
        float: right;
      }
      li a {
        display: block;
        color: #777777;
        text-align: center;
        padding: 8px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111111;
      }
      h3 {
        color: #4aaaa5;
        font-size: 150%;
      }
      .image {
        float: left;
      }
      .container {
        position: absolute;
        left: 15%;
        right: 15%;
        top: 80px;
        width: 700px;
        height: 500px;
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        background-color: #ffffff;
        border-color: #dddddd;
      }
      
      div {
        float:  right;
      }
      span {
        text-align: center;
        font-size: 16px; 
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
      }
      p {
        text-align: center;
        font-size: 16px; 
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
      }
      footer {
       
        position: relative;
        margin-top: 40%;
        background-color: #666666;
        border-color: green;
        width: 50%;
      }
      h2 {
        font-size: 16px;
       clear: both;
      }
}







@media screen and (max-width: 768px) {
   
   
    body {
        background-color: #4aaaa5;
    }
    
    header{
        position: relative;
        padding: 0% 15% 0% 15%;
        top: 0px;
        background-color: #ffffff;
        border-color: #cccccc;
       clear:both;
       height: 30px;
       width: 400px;
    }
    h1 {
        float: left;
      padding: 1px 0px 1px 1px;
      font-size:140%;
      color: #ffffff;
      background-color: #4aaaa5;
      width: 40%;
      font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
      }

    nav{
        float: right;
        margin-bottom: 1%;
        -webkit-box-shadow: 2px 2px 7.5px 2px #000000; 
        box-shadow: 2px 2px 7.5px 2px #000000;
        background-color: #4aaaa5;
        border-color: #dddddd;
        
    }
  
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #ffffff;
      }
      li {
        float: right;
      }
      li a {
        display: block;
        color: #777777;
        text-align: center;
        padding: 8px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111111;
      }
      h2 {

        font-size: 100%;
        color: #ffffff;
        font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
        }

        h3 {
            color: #4aaaa5;
            font-size: 125%;
          }
          .image {
            float: left;
          }
          .container {
            position: absolute;
            left: 15%;
            right: 15%;
            top: 80px;
            width: 600px;
            height: 500px;
            -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
            background-color: #ffffff;
            border-color: #dddddd;
          }
          div {
            float:  right;
          }
          span {
            text-align: center;
            font-size: 14px; 
            color: #777777;
            font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
          }

          p {
            text-align: center;
            font-size: 14px; 
            color: #777777;
            font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
          }
          footer {
           
            position: relative;
            margin-top: 40%;
            background-color: #666666;
            border-color: green;
            width: 50%;
          }
          h2 {
            font-size: 16px;
           clear: both;
          }

  }

  @media screen and (max-width: 640px) {
    body {
        background-color: #4aaaa5;
    }
    
    header{
       height: 24px;
       width: 350px;
    }
    h1 {
        float: left;
      padding: 1px 0px 1px 1px;
      font-size:100%;
      color: #ffffff;
      background-color: #4aaaa5;
      width: 35%;
      font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
      }

    nav{
        float: right;
        margin-bottom: 1%;
        -webkit-box-shadow: 2px 2px 7.5px 2px #000000; 
        box-shadow: 2px 2px 7.5px 2px #000000;
        background-color: #4aaaa5;
        border-color: #dddddd;
        
    }
  
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #ffffff;
      }
      li {
        float: right;
      }
      li a {
        display: block;
        color: #777777;
        text-align: center;
        padding: 8px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111111;
      }
      h2 {

        font-size: 150%;
        color: #ffffff;
        font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
        }

        h3 {
            color: #4aaaa5;
            font-size: 125%;
          }
          .image {
            float: left;
          }
          .container {
            position: absolute;
            left: 15%;
            right: 15%;
            top: 80px;
            width: 450px;
            height: 600px;
            -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
            background-color: #ffffff;
            border-color: #dddddd;
          }
          
          div {
            float:  right;
          }
          span {
            text-align: center;
            font-size: 14px; 
            color: #777777;
            font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
          }
          p {
            text-align: center;
            font-size: 14px; 
            color: #777777;
            font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
          }
          footer {
           
            position: relative;
            margin-top: 40%;
            background-color: #666666;
            border-color: green;
            width: 50%;
          }
          h2 {
            font-size: 16px;
           clear: both;
          }

}